@charset "utf8";

@font-face {
    font-family: "Just another hand";
    src: url("just-another-hand.woff2");
}

@font-face {
    font-family: "Lobster";
    src: url("lobster.woff2");
}

@font-face {
    font-family: "Ribeye Marrow";
    src: url("ribeye-marrow.woff2");
}

html {
    background-color: hsl(45, 55%, 55%);
}

h1 {
    font-family: "Ribeye Marrow", cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 25px;
    font-size: 300%;
}

p.inicio {
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    line-height: 200%;
    font-family: sans-serif;
}

p.latin {
    text-align: left;
    font-family: "Lobster", cursive;
    font-size: 250%;
    margin: 0;
}

p.español {
    text-align: right;
    font-family: "Just another hand", cursive;
    color: white;
    font-size: 400%;
    margin-bottom: 50px;
}

em {
    text-decoration: underline;
}
